body{
	background: black;
}

h1 {
	text-align: left;
	color: grey;
	font-family: helvetica;
}

.tag{
	text-align: left;
	color: grey;
	font-family: helvetica;
}

#mapcontainer {
      position: absolute;
      top: 120px;
      right: 20px;
      bottom: 20px;
      left: 20px;
    }